* {
    margin: 0px;
    background-color: rgb(62, 53, 82);
}

.container{
    width: auto;
    height: 150px;
    background-color: rgb(94, 55, 220);
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo{
    width: auto;
    height: 600px;
    background-color: rgb(62, 53, 82);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}